


*{
    margin: 0PX;
    padding: 0PX;
    color: white;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    
    justify-content: center;

}
.cursor{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}

h1{
    font-size: 10vh;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

